services:

  web:
    build: .
    container_name: predictionApp
    depends_on:
      - db
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgresql://dimitri:4939@db:5432/mydb
      FLASK_APP: runserver.py
      FLASK_ENV: development
      SECRET_KEY: super-long-random-string
    restart: unless-stopped
    volumes:
      - .:/app

  db:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: dimitri
      POSTGRES_PASSWORD: 4939
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: