{% extends "base.html" %}
{% block content %}
<style>
    .match-card {
        transition: transform .15s ease, box-shadow .15s ease;
        cursor: pointer;
    }

        .match-card:hover {
            transform: scale(1.015);
            box-shadow: 0 10px 25px rgba(0,0,0,.25);
        }
</style>
<h2 class="text-center mt-4 mb-3 text-white">Upcoming Matches</h2>

<div class="container mt-4">

    <button class="btn btn-dark w-100 text-start mb-2"
            data-bs-toggle="collapse"
            data-bs-target="#pendingCollapse"
            aria-expanded="true">
        ▶ To Predict
    </button>

    <div class="collapse show" id="pendingCollapse">

        {% for match in pending_matches %}
        <a href="{{ url_for('prediction_match', matchId=match.id) }}"
           class="text-decoration-none text-dark">

            <div class="card mb-3 match-card shadow-sm">
                <div class="card-body">

                    <div class="row align-items-center">
                        <div class="col-5 text-end">
                            <h4>{{ match.equipe1 }}</h4>
                        </div>

                        <div class="col-2 text-center">
                            <div class="fw-bold">VS</div>
                            <small class="text-muted">
                                {{ match.dateMatch.strftime("%d %b") if match.dateMatch else "" }}
                                {{ match.heureMatch.strftime("%H:%M") if match.heureMatch else "" }}
                            </small>
                        </div>

                        <div class="col-5 text-start">
                            <h4>{{ match.equipe2 }}</h4>
                        </div>
                    </div>

                </div>
            </div>
        </a>
        {% endfor %}

    </div>
</div>
<div class="container mt-4">

    <button class="btn btn-secondary w-100 text-start mb-2"
            data-bs-toggle="collapse"
            data-bs-target="#finishedCollapse"
            aria-expanded="false">
        ▶ Finished
    </button>

    <div class="collapse" id="finishedCollapse">

        {% for match in finished_matches %}
        <div class="card mb-3 bg-secondary text-white">
            <div class="card-body">

                <div class="row align-items-center">
                    <div class="col-5 text-end">
                        <h4>{{ match.equipe1 }}</h4>
                    </div>

                    <div class="col-2 text-center">
                        <div class="fw-bold">
                            {{ match.scoreEquipe1 }} - {{ match.scoreEquipe2 }}
                        </div>
                    </div>

                    <div class="col-5 text-start">
                        <h4>{{ match.equipe2 }}</h4>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}

    </div>
</div>



{% endblock %}
