{% extends "navBar.html" %}
{% block title %}Confirmation{% endblock %}
{% block styles %}
<style>
    .card {
        margin: auto;
        width: 75%;
        background-color: #333640;
        color: white;
    }

    body {
        background-color: #1f1f1f;
    }

    .btn-primary {
        margin: 0 auto;
        width: 100%;
    }

    img {
        max-height: 300px;
    }
</style>
{% endblock %}
{% block content %}
<form action="#" method="POST">
    <div class="card" style="top:10px">
        <div class="card-body">
            <h1 class="card-title">Confirmations Predictions CAN 2025</h1>
        </div>
    </div>
    <br />
    <br />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Choix du match</h5>
            <p class="card-text">Choisir le match a confirmer</p>
            <select id="matchs" name="matchs">
            </select>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Resultat du match</h5>
            <p class="card-text">Indiquer la prediction de resultat</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineCheckbox1" value="3" name="resultat" >
                <label class="form-check-label" for="inlineCheckbox1">Victoire equipe 1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineCheckbox2" value="0" name="resultat">
                <label class="form-check-label" for="inlineCheckbox2">Victoire equipe 2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineCheckbox3" value="1" name="resultat">
                <label class="form-check-label" for="inlineCheckbox3">Match nul</label>
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Score equipe 1</h5>
            <p class="card-text">Rentrer le nombre de buts de l'equipe 1</p>
            <input type="number" id="buts1Input" name="buts1" >
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Score equipe 2</h5>
            <p class="card-text">Rentrer le nombre de buts de l'equipe 2</p>
            <input type="number" id="buts2Input" name="buts2" >
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Date</h5>
            <p class="card-text">Rentrer la date du match</p>
            <input type="date" id="start" name="date" value="2024-06-12" min="2024-06-12" max="2024-07-31" />
        </div>
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Soumettre</button>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</form>
<script>

    let myjson = {{ listRows | tojson | safe }}
    renderDataInTheTable(myjson)


    function renderDataInTheTable(todos) {
    const mytable = document.getElementById("matchs");
        todos.forEach(todo => {
            let choice = document.createElement("option");
            choice.value = todo;
            choice.innerText = todo;
            mytable.appendChild(choice);
    });
    }


</script>
{% endblock %}