{% extends "navBar.html" %}
{% block title %}Prediction{% endblock %}
{% block styles %}
<style>
    .card {
        margin: auto;
        width: 75%;
        background-color: #333640;
        color: white;
    }

    body {
        background-color: #1f1f1f;
    }

    .btn-primary {
        margin: 0 auto;
        width: 100%;
    }

    img {
        max-height: 300px;
    }
</style>
{% endblock %}
{% block content %}
<form action="#" method="POST">
    <div class="card" style="top:10px">
        <div class="card-body">
            <h1 class="card-title">Predictions CL 2025-26</h1>
            <p class="card-text">Modifiez la prediction</p>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">

            <div class="row align-items-center">
                <div class="col-5 text-end">
                    <img src="{{ url_for('static',
                     filename='images/CL25-26/' ~ match.equipeHome.logo_url ~ '.svg') }}"
                         alt="{{ match.equipeHome.name }}"
                         style="height:60px;">
                </div>

                <div class="col-2 text-center">
                    <div class="fw-bold">VS</div>
                    <small>
                        {{ match.dateMatch.strftime("%d %b %H:%M") if match.dateMatch else "" }}
                    </small>
                </div>

                <div class="col-5 text-start">
                    <img src="{{ url_for('static',
                        filename='images/CL25-26/' ~ match.equipeAway.logo_url ~ '.svg') }}"
                         alt="{{ match.equipeAway.name }}"
                         style="height:60px;">
                </div>
            </div>

        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Score equipe 1</h5>
            <p class="card-text">Rentrer le nombre de buts de l'equipe 1</p>
            <input type="number" id="buts1Input" name="buts1" required>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Score equipe 2</h5>
            <p class="card-text">Rentrer le nombre de buts de l'equipe 2</p>
            <input type="number" id="buts2Input" name="buts2" required>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Date du match</h5>
            <p class="card-text">Rentrer la date et l'heure du match</p>
            <input type="date" id="dateInput" name="date" >
        </div>
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Soumettre</button>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</form>
{% endblock %}