{% extends "navBar.html" %}
{% block title %}Rankings{% endblock %}
{% block styles %}
<style>
    body {
        background-color: #1f1f1f;
    }

</style>
{% endblock %}
{% block content %}
<table class="table table-dark table-striped" id="html-data-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Joueur</th>
            <th scope="col">Games Played</th>
            <th scope="col">Wins (Outcome)</th>
            <th scope="col">Wins (Score)</th>
        </tr>
    </thead>
    <tbody>
        {% for joueur in joueurs %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ joueur.nomComplet }}</td>
            <td>{{ joueur.nbr_predictions }}</td>
            <td>{{ joueur.nbr_winOutcome }}</td>
            <td>{{ joueur.nbr_winScore }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}