{% extends "navBar.html" %}
{% block title %}Resultats{% endblock %}
{% block styles %}
<style>
    .card {
        margin: auto;
        width: 75%;
        background-color: #333640;
        color: white;
    }

    body {
        background-color: #1f1f1f;
    }

    .btn-primary {
        margin: 0 auto;
        width: 100%;
    }

    img {
        max-height: 300px;
    }

    .list-group-item {
        #white-space: pre;
    }
</style>
{% endblock %}
{% block content %}
<form action="#" method="POST">
    <div class="card" style="top:10px">
        <div class="card-body">
            <h1 class="card-title">Resultats Predictions CAN 2025</h1>
        </div>
    </div>
    <br />

    <br />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</form>
<script>

    let matchs = {{ listRows | tojson | safe }};
    let predictions = {{ predRows | tojson | safe }};
    const hashString = "#"
    let index = 0;

    console.log(matchs)


    matchs.forEach(match => {

        codeMatch = match.join("")
        filePath = 'static/images/CAN2025/' + match.join("") + '.png';  
        createCard(codeMatch, filePath);

        for (let i = 0; i < predictions.length; i++) {

            const currentPred = predictions[i];
            const predictionPK = predictions[i].slice(1, 4);
            predictionPKlol = predictionPK.join("");

            if (predictionPKlol.localeCompare(codeMatch) == 0) {

                const listGroupFlush = document.getElementsByClassName("list-group list-group-flush");
                const relevantCard = listGroupFlush[index];
                let listItem = document.createElement("li");
                listItem.className = "list-group-item";
                /*if (currentPred[6].localeCompare("") == 0) {
                    listItem.innerText = currentPred[0] + ": " + currentPred[4] + "-" + currentPred[5];
                }*/
                if (!currentPred[6]) {
                    listItem.innerText = currentPred[0] + ": " + currentPred[4] + "-" + currentPred[5];
                }
                else {
                    listItem.innerText = currentPred[0] + ": " + currentPred[4] + "-" + currentPred[5] + "               Autres: " + currentPred[6];
                }
                relevantCard.appendChild(listItem);

            }
        }
        index++;

    });

    function createCard(codeMatch, path) {
        const form = document.getElementsByTagName('form');
        const realForm = form[1];

        const card = document.createElement('div');
        card.className = 'card';

        const image = document.createElement('img');
        image.className = 'card-img-top';
        image.src = path;
        card.appendChild(image);

        const cardFooter = document.createElement('div');
        cardFooter.className = 'card-footer';
        card.appendChild(cardFooter);

        const collapseBtn = document.createElement('button');
        collapseBtn.className = 'btn btn-primary';
        collapseBtn.type = 'button';
        collapseBtn.setAttribute("data-bs-toggle", "collapse");
        collapseBtn.innerText = "Voir predictions";

        const collapse = document.createElement('div');
        collapse.className = "collapse"
        collapse.id = codeMatch;
        collapseBtn.setAttribute("data-bs-target", hashString.concat(codeMatch));
        collapseBtn.setAttribute("aria-controls", codeMatch);
        collapseBtn.ariaExpanded = 'false';
        cardFooter.appendChild(collapseBtn);
        cardFooter.appendChild(collapse);


        const footerCardBody = document.createElement('div');
        footerCardBody.className = 'card card-body';
        collapse.appendChild(footerCardBody);

        const listGroup = document.createElement('div');
        listGroup.className = 'list-group list-group-flush';
        footerCardBody.appendChild(listGroup);

        const br = document.createElement("br")
        realForm.appendChild(card);
        realForm.appendChild(br)

    }
</script>
{% endblock %}
